@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);

*, *::after, *::before{
    margin: 0;
    padding: 0;
    min-height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
    /* colors */
    /* primary */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    /* neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

}
body, html{
    width: 100vw;
    min-height: 100vh;
}
body{
    color: var(--very-dark-cyan);
}
input, input:focus{
    border: 0px transparent;
}
button{
    min-height: fit-content;
    padding-inline: 20px;
    padding-block: 7px;
    box-sizing: content-box;
    font-size: 1.7em;
    background-color: white;
}
button:hover{
    cursor: pointer;
}
.filled_btn{
    width: fit-content;
    padding-inline: 2em;
    height: 2em;
    border: none;
    border-radius: 50px;
    
    font-weight: 550;
    
    color:white;
    background: var(--pink);
}
.filled_btn:hover{
    background-color: var(--light-pink);
}

.text_body{
    max-width: 35vw;
    min-width: 300px;
    min-height: fit-content;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    overflow-y: visible;
}
.text_title{
    font-weight: 700;
    font-size: 2.5em;
}

/* Header styles */
header {
    width: 100%;
    height: 15vh;
    
}
nav{
    width: 100%;
    height: 100%;
    padding: 5vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    max-width: 30vw;
    height: auto;
}
.header__btn{
    max-width: 30vw;
    max-height: 30vh;
    border: 2px solid;
    border-radius: 30px;
    display: block;
    
    font-weight: 400;
    color: var(--light-pink);
    font-size: 1.1em;
}

/* main styles */
main {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}
section{
    width: 100%;
    min-height: 15vh;
    padding-inline: 5vw;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: var(--very-pale-blue);
}
.section__bg-bot, .section__bg-top{
    width: 100%;
    min-height: 150px;
    
    background: no-repeat;
    background-size: contain;
}
.section__text-container{
    width: 40vw;

    display: flex;
    flex-flow: column;
    gap: 10px;
}
.section__image{
    width: 40vw;
}
.section__bg-bot, .section__bg-top{
    background-size: cover;
}
#section__bg-bot1{
    height: 139px;
    background-image: url(images/bg-section-bottom-desktop-1.svg);
}
#section__bg-top1{
    height: 165px;
    background-image: url(images/bg-section-top-desktop-1.svg);
}   
#section__bg-top2{
    height: 156px;
    background-image: url(images/bg-section-top-desktop-2.svg);
}
#section__bg-bot2{
    height: 139px;
    background-image: url(images/bg-section-bottom-desktop-2.svg);
}

/* start section */
.section__start{
    padding-block-start: 20vh;
    flex-flow: column;
    gap: 2.5em;
    align-items: center;
    justify-content: space-between;

    background-color: white;
}
.start__text-container{
    width: 100%;
    height: 40%;

    display: flex;
    flex-flow: column;
    justify-items: space-around;
    align-items: center;
    gap: 1.5em;
}
.start__title, .start__p{
    text-align: center;
}
.start__title{
    font-size: 3em;
}
.start__p{
    max-width: 550px 
}
.start__image{
    min-width: 370px;
    max-width: 95%;
    height: auto;
    margin-block-start: 50px; 
}
.start__metrics{
    width: fit-content;
    padding: 100px 90px;

    display: flex;
    justify-content: space-between;
    column-gap: 20vw;
}
.metrics__category{
    width: fit-content;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.category__metric{
    width: 100%;
    font-size: 5em;
    font-weight: 600;
}
.metrics__image{
    width: 2em;
}
.category__text{
    display: inline-block;
    min-width: 100%;
    
    text-align: center;
}

/* section grow */
.grow__image{
    max-width: 100%;
}
.grow__text-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1em;
}

/* section flow */
.section__flowing{
    padding-block: 20vh;
    background-color: inherit;
}

/* section ready */
.section__ready{
    padding-block: 25vh;

    flex-flow: column;
    gap: 60px;
    background-color: inherit;
}

/*footer*/
footer{
    width: 100vw;
    min-height: max-content;
    padding-block-start: 5vh;
    padding-inline: 3vh;
    overflow-y: visible;

    display: flex;
    flex-flow: wrap-reverse;
    justify-content: space-around;
    gap: 20px;
    
    color: var(--very-pale-blue);
    background-color: var(--very-dark-cyan);
}
.footer__bg-flow {
    width: 100vw;
    height: 22vh;
    min-height: 158px;
    color: var(--very-pale-blue);
    background: url("./images/bg-footer-top-desktop.svg") no-repeat;
    background-size: cover;
}
.footer__logo{
    width: 200px;
    filter: grayscale(100) brightness(100);
}
.footer__section{
    min-width: 20em;
    max-width: 25em;

    display: flex;
    flex-flow: column;
    gap: 20px;
}
.footer__newsletter, .footer__contact{
    height: 30vh;
}
.footer__contact{
    justify-content: space-between;
    gap: 20px;
}
.contact__container{
    width: 100%;
    height: 70%;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 20px;
}
.contact__social-media{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.social-media__icon{
    display: inline-block;
    line-height: 50%;
}
.contact__phone, .contact__mail{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer__newsletter{
    min-height: fit-content;
    gap: 20px;
}
.newsletter__p, .contact__p{
    width: 100%; 
    /* height: fit-content; */
    font-size: 100%;
}
.footer__newsletter > form{
    display: flex;
    gap: 10px;
}
.newsletter__input{
    width: 60%;
    height: 45px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 2px solid  white;
}
.newsletter__input::placeholder{
    padding-inline-start: 20px;
}
.newsletter__input:focus{
    outline: none;
    border: 2px solid var(--light-red);
}
.newsletter__suscribe{
    width: 30%;
    border-radius: 10px;
    border: none;
    
    font-size: 16px;
    color: var(--very-pale-blue);

    background-color: var(--pink);
}

.footer__frontendmentor{
    width: 100vw;
    height: 5vh;
    padding-block: 10px;
    border: none;

    text-align: center;
    color: var(--very-pale-blue);
    background-color: var(--very-dark-cyan);
}

/*Mobile Rules*/
@media (width <= 775px) {

    body{
        font-size: 10px;
    }
    .text_title{
        font-size: 2em;
        text-align: center;
    }
    .text_body{
        max-width: 300px;
        margin-inline: auto;

        text-align: center;
        font-size: 14px;
    }
    .header__btn{
        width: 5em;
    }
    
    .filled_btn{
        width: fit-content;
    }
    
    section{
        width: 100%;
        flex-flow: column-reverse;
        padding: 0;
        padding-inline: 40px;
        
        gap: 30px;
    }
    .section__start{
        padding-block: 10vh;
    }
    .section__text-container{
        width: 100%;
    }
    .start__metrics{
        flex-flow: column wrap;
        gap: 10vh;
        justify-items: center;
        padding-inline: 130px;
    }
    .metrics__category{
        width: fit-content;
    }
    .section__flowing{
        flex-flow: column;
    }
    .section__bg-bot, .section__bg-top{
        min-height: 50px;
    }
    #section__bg-bot1{
        max-height: 135px;
        background-image: url(images/bg-section-bottom-mobile-1.svg);
    }
    #section__bg-top1{
        max-height: 165px;
        background-image: url(images/bg-section-top-mobile-1.svg);
    }   
    #section__bg-top2{
        max-height: 103px;
        background-image: url(images/bg-section-top-mobile-2.svg);
    }
    #section__bg-bot2{
        max-height: 139px;
        background-image: url(images/bg-section-bottom-mobile-2.svg);
    }

    .footer__bg-flow{
        max-height: 150px;
        min-height: 70px;
        background-image: url(images/bg-footer-top-mobile.svg);
    }
    footer{
        height: max-content;
        padding-block: 30px;
        flex-wrap: wrap-reverse;
        gap: 50px;
    }
    .footer__section{
        height: fit-content;
    }
    .newsletter__title{
        text-align: start;
    }
    .newsletter__p, .contact__p{
        min-width: 10em;
        min-height: 5em;
        /* font-size: 1em; */
        text-align: start;
    }
    .footer__newsletter > form{
        flex-flow: column;
    }

    .newsletter__input{
        width: 100%;
    }
}
