@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
    /* colors */
    /* primary */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    /* neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

}
body, html{
    width: 100vw;
    min-height: 100vh;
}
body{
    color: var(--very-dark-cyan);
}

button{
    font-size: 20px;
    background-color: white;
}
button:hover{
    cursor: pointer;
}

.text_body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

.text_title{
    font-weight: 700;
    font-size: 2.5em;
}
.filled_btn{
    width: 25vw;
    height: 3em;
    border: none;
    border-radius: 30px;
    
    font-weight: 550;
    
    color:white;
    background: var(--pink);
}
.filled_btn:hover{
    background-color: var(--light-pink);
}

/* Header styles */
header {
    width: 100%;
    height: 15vh;
    
}
nav{
    width: 100%;
    height: 100%;
    padding: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 15em;
    height: auto;
}

.header__btn{
    width: 10vw;
    height: 2.5em;
    border: 2px solid;
    border-radius: 30px;
    
    display: block;
    
    font-weight: 400;
    color: var(--light-pink);
}

/* main styles */
main {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}
section{
    width: 100%;
    min-height: 15vh;
    padding-inline: 5vw;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: var(--very-pale-blue);
}
.section__bg-bot, .section__bg-top{
    width: 100%;
    height: 150px;
    
    background: no-repeat;
    background-size: cover;
}
.section__text-container{
    width: 40vw;

    display: flex;
    flex-flow: column;
    gap: 20px;
}
.section__image{
    width: 40vw;
}

#section__bg-bot1{
    height: 139px;
    background-image: url(images/bg-section-bottom-desktop-1.svg);
}
#section__bg-top1{
    height: 165px;
    background-image: url(images/bg-section-top-desktop-1.svg);
}   
#section__bg-top2{
    height: 156px;
    background-image: url(images/bg-section-top-desktop-2.svg);
}
#section__bg-bot2{
    height: 139px;
    background-image: url(images/bg-section-bottom-desktop-2.svg);
}


/* start section */
.section__start{
    padding-block-start: 20vh;
    flex-flow: column;
    gap: 2.5em;
    align-items: center;
    justify-content: space-between;

    background-color: white;
}
.start__text-container{
    width: 100%;
    height: 40%;

    display: flex;
    flex-flow: column;
    justify-items: space-around;
    align-items: center;
    gap: 1.5em;
}
.start__title, .start__p{
    text-align: center;
}
.start__title{
    font-size: 3em;
}
.start__p{
    width: 40%;
}
.start__image{
    width: 1000px;
    max-width: 95%;
    height: auto;
    margin-block-start: 50px; 
}
.start__metrics{
    width: 100%;
    padding-block: 100px;

    display: flex;
    justify-content: space-evenly;
}
.metrics__category{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.category__metric{
    font-size: 6.5em;
    font-weight: 600;
}
.category__text{
    display: inline-block;
    width: 100%;
    
    text-align: center
}

/* section grow */
.grow__image{
    max-width: 50%;
}
.grow__text-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1em;
}

/* section flow */
.section__flowing{
    padding-block: 20vh;
    background-color: inherit;
}

/* section ready */
.section__ready{
    padding-block: 25vh;

    flex-flow: column;
    gap: 60px;
    background-color: inherit;
}

footer{
    width: 100vw;
    height: 50vh;
    padding-block-start: 5vh;
    overflow-y: hidden;

    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    
    color: var(--very-pale-blue);
    background-color: var(--very-dark-cyan);
}
.footer__bg-flow{
    width: 100vw;
    min-height: 200px;
    /* 
    position: relative;
    top: calc(442vh + 1px);
    left: auto;
    z-index: 1; */

    color:var(--very-pale-blue);
    background: url("./images/bg-footer-top-desktop.svg") no-repeat;
    background-size: cover;
}
.footer__logo{
    width: 200px;
    filter: grayscale(100) brightness(100);
}
.footer__section{
    width: 30vw;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

.footer__newsletter, .footer__contact{
    height: 30vh;
}

.footer__contact{
    width: 25vw;
    justify-content: space-between;
}
.contact__container{
    width: 100%;
    height: 70%;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.contact__social-media{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.social-media__icon{
    display: inline-block;
    line-height: 50%;
}
.contact__phone, .contact__mail{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer__newsletter{
    width: 30vw;
    height: 20vh;
    gap: 10px;
    justify-content: space-between;
}
.footer__newsletter > form{
    display: flex;
    gap: 10px;
}
.newsletter__input{
    width: 60%;
    height: 45px;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
}
.newsletter__input::placeholder{
    padding-inline-start: 20px;
}
.newsletter__input::selection{
    border: none;
}
.newsletter__suscribe{
    width: 30%;
    border-radius: 10px;
    border: none;
    
    font-size: 16px;
    color: var(--very-pale-blue);

    background-color: var(--pink);
}

.footer__frontendmentor{
    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
